<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="m.e.m">
	<!-- 아이디 중복확인 -->
	<select id="idChk" resultType="int">
		SELECT COUNT(*) FROM member WHERE userId = #{userId}
	</select>
	
	<!-- 회원가입 -->
	<insert id="register">
		INSERT INTO member (userId, userPw, userName, addr, grantsNum) values (#{userId}, #{userPw}, #{userName}, #{addr}, #{grantsNum})
	</insert>
	
	<!-- 로그인 -->
	<select id="loginPost" resultType="LoginDTO">
		SELECT * FROM member WHERE userId = #{userId} and userPw = #{userPw}
	</select>
	
	<!-- 마이페이지 -->
	<select id="myPage" resultType="MemberDTO">
		SELECT * FROM member WHERE userId = #{userId}
	</select>
	
	<!-- 업데이트페이지 -->
	<select id="update" resultType="MemberDTO">
		SELECT * FROM member WHERE userId = #{userId}
	</select>
	
	<!-- 업데이트 -->
	<update id="updatePost">
		UPDATE member SET userPw = #{userPw}, userName = #{userName}, addr = #{addr} WHERE userId = #{userId}
	</update>
	
	<!-- 회원탈퇴 -->
	<delete id="delete">
		DELETE FROM member WHERE userId = #{userId}
	</delete>
	
	
</mapper>